@page
@model IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "ASP.NET Client Validation Demo Page";
}
<h1>Other Demos</h1>
<ul>
    <li><a asp-page="Demos/Checkboxes">Checkboxes and Radio Buttons</a></li>
    <li><a asp-page="Demos/SubmitButton">Submit Button</a></li>
    <li><a asp-page="Demos/RemovedInputs">Removed Inputs</a></li>
</ul>

@if (Model.StatusMessage != null) {
    <h1 class="status-message">@Model.StatusMessage</h1>

    <h2>Submitted Values</h2>

    <table class="form-data">
        <tr>
            <th>Id: </th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Control: </th>
            <td>@Model.Control</td>
        </tr>
        <tr>
            <th>Selected Color: </th>
            <td>@Model.SelectedColor</td>
        </tr>
        <tr>
            <th>Button Value: </th>
            <td>@Model.SubmitButton</td>
        </tr>
    </table>
}

<fieldset>
    <legend>Form 1</legend>
    <form method="post">
        <div class="form-field">
            <label asp-for="Id"></label>
            <input asp-for="Id"/>
            <span asp-validation-for="Id"></span>
        </div>

        <div class="form-field">
            <label asp-for="Control"></label>
            <input asp-for="Control"/>
            <span asp-validation-for="Control"></span>
        </div>

        <div class="form-field">
            <label asp-for="TextArea"></label>
            <textarea asp-for="TextArea"></textarea>
            <span asp-validation-for="TextArea"></span>
        </div>

        <div class="form-field">
            @foreach (var color in Model.Colors) {
                <input name="SelectedColor"
                       type="radio"
                       value="@color"
                       data-val="true"
                       data-val-required="Please select a color"
                       data-rule-required="true"
                       data-msg-required="Please select a color"
                       @if (Model.SelectedColor == color) {
                           <text>checked</text>
                       }/>
                <label>@color</label>
            }
            <span asp-validation-for="SelectedColor"></span>
        </div>

        <input type="submit" asp-for="SubmitButton" class="btn" value="Save" />
    </form>
</fieldset>

<fieldset>
    <legend>Form 2</legend>
    <form method="post">
        <div class="form-field">
            <label asp-for="Id"></label>
            <input asp-for="Id"/>
            <span asp-validation-for="Id"></span>
        </div>

        <div class="form-field">
            <label asp-for="Control"></label>
            <input asp-for="Control"/>
            <span asp-validation-for="Control"></span>
        </div>

        <button type="submit" class="btn">Save</button>
    </form>
</fieldset>

<fieldset>
    <legend>Form 3</legend>
    <form method="post">
        <div class="form-field">
            <label asp-for="Input.SomeRequiredField"></label>
            <input asp-for="Input.SomeRequiredField"/>
            <span asp-validation-for="Input.SomeRequiredField"></span>
        </div>
        <button type="submit" class="btn">Save</button>
    </form>
</fieldset>

<fieldset>
    <legend>Form 4</legend>
    <form method="post">
        <div class="form-field">
            <label asp-for="Input.SomeRequiredField"></label>
            <input asp-for="Input.SomeRequiredField"/>
            <span asp-validation-for="Input.SomeRequiredField"></span>
        </div>
        <button type="submit" class="btn">Save</button>
    </form>
</fieldset>

<fieldset>
    <legend>External Form</legend>
    <div class="form-field">
        <label asp-for="Input.SomeRequiredField" form="external"></label>
        <input asp-for="Input.SomeRequiredField" form="external"/>
        <span asp-validation-for="Input.SomeRequiredField" form="external"></span>
    </div>
    <button type="submit" class="btn">Save</button>
</fieldset>


<form id="external">

</form>

