@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Client Validation Demo Page</title>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="/dist/aspnet-validation.css" />
</head>
<body>

@if (Model.StatusMessage != null)
{
    <h1 class="status-message">@Model.StatusMessage</h1>

    <h2>Submitted Values</h2>

    <table class="form-data">
        <tr>
            <th>Id: </th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Control: </th>
            <td>@Model.Control</td>
        </tr>
        <tr>
            <th>Selected Animals: </th>
            <td>@(Model.SelectedAnimals != null ? string.Join(", ", Model.SelectedAnimals) : null)</td>
        </tr>
        <tr>
            <th>Selected Color: </th>
            <td>@Model.SelectedColor</td>
        </tr>
    </table>
}

<fieldset>
    <legend>Form 1</legend>
    <form method="post">
        <div class="form-field">
            <label asp-for="Id"></label>
            <input asp-for="Id"/>
            <span asp-validation-for="Id"></span>
        </div>

        <div class="form-field">
            <label asp-for="Control"></label>
            <input asp-for="Control"/>
            <span asp-validation-for="Control"></span>
        </div>

        <div class="form-field">
            @foreach (var animal in Model.Animals)
            {
                <input name="SelectedAnimals"
                       type="checkbox"
                       value="@animal"
                       data-val="true"
                       data-val-required="Please select at least one animal"
                       data-rule-required="true"
                       data-msg-required="Please select at least one animal"
                       @if (Model.SelectedAnimals != null && Model.SelectedAnimals.Contains(animal)) { <text>checked</text> } />
                <label>@animal</label>
            }
            <span asp-validation-for="SelectedAnimals"></span>
        </div>

        <div class="form-field">
            @foreach (var color in Model.Colors)
            {
                <input name="SelectedColor"
                       type="radio"
                       value="@color"
                       data-val="true"
                       data-val-required="Please select a color"
                       data-rule-required="true"
                       data-msg-required="Please select a color"
                       @if (Model.SelectedColor == color) { <text>checked</text> } />
                <label>@color</label>
            }
            <span asp-validation-for="SelectedColor"></span>
        </div>

        <button type="submit" class="btn">Save</button>
    </form>
</fieldset>

<fieldset>
    <legend>Form 2</legend>
    <form method="post">
        <div class="form-field">
            <label asp-for="Id"></label>
            <input asp-for="Id"/>
            <span asp-validation-for="Id"></span>
        </div>

        <div class="form-field">
            <label asp-for="Control"></label>
            <input asp-for="Control"/>
            <span asp-validation-for="Control"></span>
        </div>

        <button type="submit" class="btn">Save</button>
    </form>
</fieldset>

<fieldset>
    <legend>Form 3</legend>
    <form method="post">
        <div class="form-field">
            <label asp-for="Input.SomeRequiredField"></label>
            <input asp-for="Input.SomeRequiredField"/>
            <span asp-validation-for="Input.SomeRequiredField"></span>
        </div>
        <button type="submit" class="btn">Save</button>
    </form>
</fieldset>

<fieldset>
    <legend>Form 4</legend>
    <form method="post">
        <div class="form-field">
            <label asp-for="Input.SomeRequiredField"></label>
            <input asp-for="Input.SomeRequiredField"/>
            <span asp-validation-for="Input.SomeRequiredField"></span>
        </div>
        <button type="submit" class="btn">Save</button>
    </form>
</fieldset>

<fieldset>
    <legend>External Form</legend>
        <div class="form-field">
            <label asp-for="Input.SomeRequiredField" form="external"></label>
            <input asp-for="Input.SomeRequiredField" form="external"/>
            <span asp-validation-for="Input.SomeRequiredField" form="external"></span>
        </div>
        <button type="submit" class="btn">Save</button>
</fieldset>


<form id="external">

</form>

<script src="/dist/aspnet-validation.js"></script>
<script>
    const service = new aspnetValidation.ValidationService(console);
    service.bootstrap();
</script>
</body>
</html>
